<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="Current" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>DMPluginView20240722\</PublishUrl>
    <ProjectGuid>3d92c91b-2883-40ec-be3a-742f01a0e7cd</ProjectGuid>
    <WebPublishMethod>FileSystem</WebPublishMethod>
  </PropertyGroup>
</Project>