<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="Current" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <EngineUrl>http://172.25.13.5:2375</EngineUrl>
    <RegistryUrl>https://hub.docker.com/popo</RegistryUrl>
    <RegistryKind>DockerHub</RegistryKind>
    <UserName />
    <PublishImage>client</PublishImage>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>244810ab-81ea-48a2-835b-95b6b4dbde39</ProjectGuid>
  </PropertyGroup>
</Project>