// _input.scss
// 
// Template's input styles.
// 

.ant-input {
	border-radius: 6px;
}

.layout-dashboard-rtl {
	.header-control {
		.header-search {
			.ant-input {
				&:not(:first-child) {
					padding-right: 32px;
					padding-left: 11px;
				}
			}
		}
	}

	.ant-input-affix-wrapper .ant-input-prefix {
		right: 12px;
		left: auto;
	}
}

.header-search {
			width: 250px;
			height: 34px;
			margin: 0 10px 0 0;
				
			@media( min-width: $md ){
				margin: 0 7px;
			}
			svg {
				path {
					fill: $color-gray-7;
				}
			}
			.ant-input {
				font-weight: $fw-semibold;
				color: $color-gray-7;
				&:not(:first-child) {
					padding-left: 32px;
				}
				&:not(:last-child) {
					padding-right: 11px;
				}
			}
			&.loading .ant-input:not(:last-child) {
				padding-right: 30px;
			}
			.ant-input-suffix .ant-input-search-icon {
				display: none;

				&.anticon-loading {
					display: block;
				}
			}
		}